

@media (prefers-color-scheme: light) {
  .citation-box.light-scheme {background: white; color: black;}
  .header{
    background: lightgray;
  }
  .main-view-box{
    background: white;
  }
}
@media (prefers-color-scheme: dark) {
  .citation-box.dark-scheme {background: black; color: white;}
  .header{
    background: rgb(33, 33, 33);
    color: white;
  }
  .main-view-box{
    background: rgb(65, 65, 65);
  }
}

.citation-box {
  border-color: rgb(65, 65, 65);
  align-items: stretch;
  max-height: 350px;
}

.main-view-box {
  padding: 10px;
  max-height: 300px;
}

.citation-button-block {
  max-height: 225px;
  overflow-y: scroll;
}

.timeline-card {
  height: 225px;
  overflow-y: scroll;
}

.list-view-block {
  overflow-y: scroll;
  max-height: 275px;
}

/* .timeline-view {
  display:flex;
  flex-direction: column;
  height: 100%;
} */

#timeline-row > svg {
  width: 100%;
}

#timeline-row {
  width: 100%;
}