

@media (prefers-color-scheme: light) {
  .citation-box.light-scheme {background: white; color: black;}
  .header{
    background: lightgray;
  }
  .main-view-box{
    background: lightpink;
  }
}
@media (prefers-color-scheme: dark) {
  .citation-box.dark-scheme {background: black; color: white;}
  .header{
    background: rgb(33, 33, 33);
    color: white;
  }
  .main-view-box{
    background: rgb(65, 65, 65);
  }
}

.citation-box {
  border-radius: 20px;
  align-items: stretch;
  height: 350px;
}

.header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-view-box {
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 300px;
}

.citation-button-block {
  max-height: 225px;
  overflow-y: scroll;
  background-color: bisque;
  border-bottom-left-radius: 20px;
}

body {
  color: darkred;
}

.view-buttons {
  border-bottom-left-radius: 20px;
}

.list-view-block {
  overflow-y: scroll;
  max-height: 275px;
}